<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>
<div class="background-fullscreen dim" style="background-image: url(http://touchedition.s3.amazonaws.com/asset/55264c2549c1fbe33d17951d.jpg)"></div>
<div class="login container">
<div class="inner-wrapper">
  <h1 class="ui header aligned center">Login</h1>
  <form role="form" action="/auth/local" method="post" class="ui form">
    <div class="field">
      <label>Username or Email</label>
      <input type="text" name="identifier" placeholder="Username or Email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button class="ui button submit" type="submit">Sign in</button>
  </form>  
<% if (providers) {%>
  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button" class="ui button <%= providers[key].slug %>">
      <i class="<%= providers[key].slug %> icon"></i>
      <%= providers[key].name %>
    </a>
  <% }) %>
<% } %>
</div>
</div>