<!DOCTYPE html>
<html>
  <head>    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/@reset.css">
    <link rel="stylesheet" href="/styles/semantic.min.css">
    <link rel="stylesheet" href="/styles/codrop-input-set1.css">
    <link rel="stylesheet" href="/styles/icon-moon.css">
    <link rel="stylesheet" href="/styles/importer.css">
  </head>
  <body>   
		<div class="ui segment" style="max-width: 960px; margin: 10px auto;">
			<h1 class="ui header">App list</h1>
			<div class="ui selection list">
			    <% for(var i=0; i<list.length; i++) { %>
			        <form class="item <%=active===list[i].key?'active':''%>" method="post">
			           <div class="content">
			           	<h4><%= list[i].title || list[i].key  %></h4>
			           	<p><%= list[i].key  %></p>
			           </div>
			           <input type="hidden" name="target" value="<%=list[i].key%>"/>
			           <input type="submit" onclick="hideAllButton();" class="right floated compact ui button submit" 
                  value="<%=active===list[i].key?'Rebuild':'Build'%>"/>
			        </form>
			    <% } %>
			</div>
		</div>
		<script>
			function hideAllButton() {
				console.log('hideAllButton');
				var ele_list = document.getElementsByClassName('submit');
				for (var i = 0; i < ele_list.length; i++) {
					ele_list[i].style.opacity = 0;
				}
			};
		</script>
		<script src="/js/dependencies/jquery-1.11.1.js"></script>
		<script src="/js/semantic.min.js"/>
  </body>
</html>